@charset "utf-8";
/* ------------------------------
 * CSS Document 
 * ------------------------------ */
html {color:#434343; _background-image:url(about:blank); _background-attachment:fixed;}
body {font-size:9pt; line-height:160%;}
h1, h2, h3, h4, h5 {margin:0; padding:0;}
textarea {overflow:auto;}
img {vertical-align:baseline;}
ul{list-style:none;margin:0;padding:0}
ul li{vertical-align:bottom}
#wrap-nav a {outline:none;}
#wrap-nav a:link {color:#434343; text-decoration:none;}
#wrap-nav a:visited {color:#838383; text-decoration:none;}
#wrap-nav a:hover {color:#CC0000; text-decoration:none;}
#wrap-nav a:active {}
#wrap-nav a.keep:link, .keep a:link {color:#434343;}
#wrap-nav a.keep:visited, .keep a:visited {color:#434343;}
#wrap-nav a.keep:hover, .keep a:hover {color:#CC0000;}
#wrap-nav a.keep:active, .keep a:hover {}
/* miscellaneous */
.container {position:relative; width:1200px; }
#form-search, #btn_s, .rss,
#wrap-nav , #wrap-nav li, #wrap-nav h3, #wrap-nav h3 a,
#wrap-subnav, #wrap-subnav .bgl, #wrap-subnav .bgr,
#wrap-crumb a,
#wrap-cats h3, #wrap-cats h3 a.depth_2,
.audio-player,
.content ul.utilbar, .content ul.utilbar li, .content ul.utilbar li a,
.hboxbg, .hbox h4, .hbox .more,
ul.tab-title, ul.tab-panel,
.bar ul.hits, .bar ul.digg,
.dashed, .icon5, .icon10, .icon16, .icon20, .sprite
{background:transparent url("sprite.gif") no-repeat scroll left -9999px; _background:transparent url("sprite.gif") no-repeat scroll left -9999px;}
/* ------------------------------
 * wrap-nav 
 * ------------------------------ */
#wrap-nav {margin-top:6px;height:32px; width: 1200px; line-height:32px; background-position:0 0;float:left;border-top:1px solid #999;border-bottom:1px solid #999;background: #18579d;}
#wrap-nav .container {z-index:19;height:36px;font-family: "Mako",arial;}
#wrap-nav ul.menu {}
#wrap-nav ul.menu li {position:relative; float:left;  background-position:0 -40px;background: url("../images/sprites_repeat.gif") no-repeat scroll right -880px rgba(0, 0, 0, 0);}
#wrap-nav ul.menu li { font-size:1.2em;padding:0 0 0 1px;}
#wrap-nav ul.menu li a.depth_1 {padding:1px 10px 0 10px; display:inline-block; color:#fff;font-size:13px;text-transform: none	;font-weight: 100;}
#wrap-nav ul.menu li .hover,
#wrap-nav ul.menu li .selected {background-position:right -80px;}
#wrap-nav ul.menu li .hover a.depth_1,
#wrap-nav ul.menu li .selected a.depth_1 {background-position:left -80px; color:#fff;}
#wrap-nav ul.menu li.hover  {background-position:right -120px;text-align:left;}
#wrap-nav ul.menu li.hover  a.depth_1 {background-position:left -120px; color:#333;box-shadow:0 0 5px #333;z-index:30;background: #fff;}
#wrap-nav ul.menu li ul.children {position:absolute; left:0px; top:33px; z-index:300; display:none; min-width:388px; padding:6px 7px 5px 6px; border:1px solid #bbb; border-top:0px;box-shadow:0 0 6px #bbb; background:#fff url(../images/bar_bbg.gif) no-repeat right bottom;transition:all 0.5s ease-in-out 0s;}
#wrap-nav ul.menu li ul.children li {width:180px; padding:1px 0 2px 0; background:none;line-height:30px;border:none;}
#wrap-nav ul.menu li ul.children li.nosub {width:160px; overflow:hidden;margin:0 8px 8px 0;background:#fff;}
#wrap-nav ul.menu li ul.children li  {}
#wrap-nav ul.menu li ul.children li a.depth_2 {line-height:20px; display:block; font-weight:normal; margin: 2px; padding-left:8px;font-size:9pt; color:#fff; background: #18579d; border-left:2px solid #000;}
#wrap-nav ul.menu li ul.children li a.depth_2 span.icon10 {margin:0px 3px 0 5px; background-position:-60px -380px;}
#wrap-nav ul.menu li ul.children li .selected {}
#wrap-nav ul.menu li ul.children li.hover {z-index:20;}
#wrap-nav ul.menu li ul.children li.hover  a.depth_2 {border-left:2px solid #100a0f;}
#wrap-nav ul.menu li ul.children li.hover ul { border-color:#FFBFBF; height:auto; z-index:20;display:block:}
#wrap-nav ul.menu li ul.children li.hover ul li a.depth_3 {color:#333;}
#wrap-nav ul.menu li ul.children li.hover ul li a.depth_3:hover {color:#f00;}
#wrap-nav ul.menu li ul.children ul {top:0; top:25px; padding:0 0 0 8px; overflow:hidden;}
#wrap-nav ul.menu li ul.children ul li {width:auto; padding:0 0 0 5px; float:left;border:none;}
#wrap-nav ul.menu li ul.children ul li a.depth_3 {margin:0 15px 0 0; line-height:20px; display:block; color:#666; white-space:nowrap;font-size:12px;}
#wrap-nav ul.menu li ul.children ul li a.depth_3:hover {text-decoration:underline;}
#wrap-nav ul.menu li ul.children ul li a.selected {background:none; color:#900;}
.coda-slider, .coda-slider .panel {width:200px;}
/* Arrow styling */
.coda-nav-left a, .coda-nav-right a {}
/* Tabbed nav */
.coda-nav ul {clear:both; display:block; margin:auto; overflow:hidden;}
.coda-nav ul li {float:left;}
.coda-nav ul li a {}
.coda-nav ul li a.current {}
.coda-slider {float:left; overflow:hidden; position:relative;}
.coda-slider .panel {display:block; float:left;}
.coda-slider .panel-container {position:relative;}
.coda-nav-left, .coda-nav-right {float:left;}
.coda-nav a, .coda-nav-left a, .coda-nav-right a {background-image:url("sprite.gif"); _background-image:url("sprite.gif"); background-repeat:no-repeat; background-position:left -9999px;}