header{
  height: 15em;
}

/*NavBar*/
nav {
	color: #888;
	overflow: hidden;
	width: 100%;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  display: inline-block;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
nav > ul > li > a {
	color: #888;
	display: block;
	padding: 16px;
	text-decoration: none;
}
nav > ul > li:hover {
  background: #9c7153;
  height: 100%;
}
nav > ul > li:hover > a {
  color: #fff !important;
  height: 100%;
}
.nav1{
  background: #272727;
  height: 75%;
}
.nav2{
  background: #363636;
  height: 25%;
}
.Logo-nav > img{
  height: 6em !important;
  margin: 2em 5em 0 5em;
}
.right-search{
  margin: 1em 0;

  position: relative;
  text-align: right;
}
.right-search>input {
  margin-top: 2em;
}
.right-search>a{
  text-decoration: none;
}

#cart{
  text-decoration: none;
  color: #fff;
}
#cart i:hover{
  color: #34a2e1;
}
#box-cart{
  background: #9c7153;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}
/*CONTAINER*/
#main-container{
  max-height: calc(100vh - 22rem);
}
#main-offers>div, #main-products>div>div {
  margin-top: 12px;
}
#main-products>div>div{
  height: 340px;
  display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
}
#main-products>div>div>img{
  height: 97%;
  width:  95%;
}
#main-products .product-center>img{
  height: 97%;
  width: 97%;
}
#main-offers{
  height: 100px;

}
#main-offers>div{
  height: 55px;
}
/*OFFERS-MAIN*/
.offer-left{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #43bbff;
  position: relative;
  border: 1px solid #fff;
}
.offer-center{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #34a2e1;
  position: relative;
  border: 1px solid #fff;
}
.offer-right{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #397496;
  position: relative;
  border: 1px solid #fff;
}
.offer-hover{
  height: 45px;
  width: 90%;
}
@-webkit-keyframes main-offers{
  30%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
  80%{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
}
@keyframes main-offers{
  30%{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }
  80%{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
}
#main-offers {
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#main-offers .offer-hover:hover {
  color: #363636;
  border-radius: 10px;
  border: 2px solid #fff;
  -webkit-animation-name:main-offers;
  animation-name:main-offers;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
#main-offers  .offer-hover:active, .offer-hover:focus{
  background: #397496;
  color: #fff;
}

/*WARRANTY*/
#warranties{
  background: #34a2e1;
  height: 7em;
  margin-top: 20px;
}
#warranties>div{
  height: 85px;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  margin: .8em;
}
#warranties>div>i{
  color: #fff;
  margin: 0 .7em;
}
#warranties>div>p{
  margin: 0 auto;
}
/*INTEREST*/

#interests>div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 2em;
  height: 210px;
}

/*FOOTER*/
footer{
  clear: both;
  height: 22rem;
}
#main-footer>div>ul{
  list-style: none;
}
#main-footer>div{
  height: auto;
  text-align: center;
}
#main-footer .pay{
  height: 35px;
}
#main-footer li{
  margin-top: 5px;
  margin-left: 7px;
  line-height: 10px;
}
#main-footer a{
  text-decoration: none;
  color: #363636;
}
#legal{
  clear: both;
  color: white;
  background: #363636;
  height: 46px;
  text-align: center;

}
.social-room{
  position: relative;
  width: 8em !important;
  left: 5em;
}
.fa-square{
  color: #34a2e1 !important;

}
.icon:hover{
  border-radius: 30%;
  background: #9c7153;
  transition-duration: 0.3s;
}

/*LIST_PRODUCT START*/
#mark_product{
  padding: 0;
}
#mark_product>div>div{
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: 0;
}
#mark_product>div>div>img{
    width: 50%;
    height: 100%;
}
#breadcrumb>div{
  height: 2em !important;
}
#breadcrumb ul>li{
  display: inline-block;
  list-style: none;

}
.aside-filter>ul>li{
  list-style: none;
}

.main-products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.list_product{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.list_product>div{
  background: gray;
  margin-top: 1em ;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
.list_product>div>img{
  height: 100% !important;
  width: 100% !important;
}
/*FILTER-TOP*/
#filter-top{
  display: flex;
  justify-content: flex-end;
}
#filter-top>*{

  margin: .8em;
}
#filter-top select{
  font-size: 10px;
}
#filter-top>span{
  margin: 1em;
}
ul.pagination {
    display: inline-block;
    padding: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {

    color: black;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    transition:  .3s ease;
}
ul.pagination li a.active {
    background-color: #9c7153;
    color: white;
    border-radius: 5px;
}
ul.pagination li a:hover:not(.active) {
  background-color: #34a2e1;
}

#publicy{
  background-color: #C4C4C4;
  height: 95px;
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}
#publicy>p{
  margin-top: 30px;
}

.active {
    background-color: #9c7153;
    color: white;
}
/*VIEW PRODUCT*/
.justify-center{
  display: flex;
  justify-content: center;
}
#thumbnails{
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
}
#thumbnails img{
  height: 80px;
  width: 80px;
}

#main-image{
  margin: 0;
}
#main-image img{
  height: 250px;
  width: 98%;
}
#box-payment{
  border: 1px solid black;

  height: 250px;
}
/*COMMENTS*/
.stars li{
  display: inline;
}
.stars>ul{
  list-style: none;
}
.details_product{
  margin-top: 3em;
  background: #eeeeee;
  border-radius: 10px;
}
.details_product *{
  margin: 0 15px;
  text-align: justify;
}
.comments_of_product{
  margin-top: 3em;
  background: #eeeeee;
  border-radius: 10px;
}
.comments_of_product strong {
  margin: 0 15px 25px 15px;
  text-align: justify;
  padding: 0;
}
.comments_of_product p {
  margin: 0 15px 25px 15px;
  text-align: justify;
  padding: 0;
}
.comments_of_product h5 {
  margin: 0 15px 25px 15px;
  text-align: justify;
  padding: 0;
}
.comments_of_product ul {
  margin: 0 15px 25px 15px;
  text-align: justify;
  padding: 0;
}
.red{
  background: red;

}
.blue{
  background: blue;

}
.green{
  background: green;
}
.heart_plus i{
  color: red;
  margin-top: 12px;
}
